body {
  max-width: 1501px;
  margin: auto;
  margin: auto !important;
}

header {
  display: none;
  background: #FEF5E7;
}
header > .header-container {
  display: none;
  width: 90%;
  margin: auto;
}
header > .header-container > .header-container-section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .header-container > .header-container-section-nav > .icon > img {
  width: 50px;
}
header > .header-container > .header-container-section-nav > .nav > ul {
  display: flex;
}
header > .header-container > .header-container-section-nav > .nav > ul > li {
  list-style: none;
}
header > .header-container > .header-container-section-nav > .nav > ul > li > a {
  color: #B7ABA8;
  text-decoration: none;
  border-right: 1px solid black;
  padding: 0 10px;
}
header > .header-container > .header-container-section-nav > .nav > ul > li > a:hover {
  color: red;
}
header > .header-container > .header-container-section-nav > .nav > ul > li:last-child > a {
  border: none;
}
header > .header-container > .header-container-section-nav > .login > a {
  text-decoration: none;
  color: #B7ABA8;
}
header > .header-container > .header-container-section-nav > .login > a:hover {
  color: red;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.1px);
    font-weight: 200;
  }
  50% {
    transform: translateY(-0.2px);
    font-weight: 400;
  }
  75% {
    transform: translateY(-0.3px);
    font-weight: 600;
  }
}
main div.index-container > .index-container-section-welcome {
  display: flex;
  position: relative;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.slide > img {
  position: absolute;
  z-index: 3;
  max-width: 1500px;
  width: 100%;
  height: 440px;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.slide > span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 120%;
  width: 100%;
  color: #efefef;
  font-size: 34px;
  z-index: 500;
  text-align: center;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.slide.active {
  opacity: 1;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation {
  position: absolute;
  text-align: center;
  bottom: -250px;
  z-index: 500;
  background-color: #fef5e7;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.2s linear 0s;
  width: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation:hover {
  cursor: pointer;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation:hover {
  text-indent: -20px;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation:hover > img {
  display: unset;
  opacity: 1;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation > a {
  color: black;
  text-decoration: none;
}
main div.index-container > .index-container-section-welcome > article.carousel-imgs > article.btn-reservation > img {
  width: 19px;
  vertical-align: sub;
  position: relative;
  left: 17px;
  display: none;
  opacity: 0;
  transition: all 0.2s linear 0s;
}
main div.index-container > .index-container-section-welcome > .welcome-left {
  z-index: 100;
  position: relative;
  flex-grow: 1;
  background: #fef5e7;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 90% 70%, 0 100%);
}
main div.index-container > .index-container-section-welcome > .welcome-left > article {
  position: absolute;
  top: 25%;
  right: 72px;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-img img {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-img {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone {
  text-decoration: none;
  color: black;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone > span {
  font-family: "Overpass", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  display: inline-block;
  animation: moveUpDown 9s infinite;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone > span:nth-child(1) {
  animation-delay: 0s;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone > span:nth-child(2) {
  animation-delay: 1s;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone > span:nth-child(3) {
  animation-delay: 2s;
}
main div.index-container > .index-container-section-welcome > .welcome-left > article > a.a-phone > span:nth-child(4) {
  animation-delay: 3s;
}
main div.index-container > .index-container-section-welcome > .welcome-icon-middle {
  z-index: 100;
  padding-top: 15px;
}
main div.index-container > .index-container-section-welcome > .welcome-icon-middle > img {
  width: 118px;
}
main div.index-container > .index-container-section-welcome > .welcome-right {
  z-index: 100;
  flex-grow: 1;
  position: relative;
  background: #fef5e7;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 70%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 70%);
}
main div.index-container > .index-container-section-welcome > .welcome-right > article {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  left: 72px;
  width: 140px;
}
main div.index-container > .index-container-section-welcome > .welcome-right > article > a > img {
  width: 25px;
}
main div.index-container > .index-container-section-welcome > .welcome-right > article > article.login > a > img {
  width: 30px;
}
main div.index-container > .index-container-section-welcome > a.arrow-left {
  position: absolute;
  z-index: 500;
  left: 25px;
  top: 30vh;
}
main div.index-container > .index-container-section-welcome > a.arrow-left > img {
  background: #F7EECA;
  width: 35px;
  padding: 10px;
  border-radius: 20px;
}
main div.index-container > .index-container-section-welcome > a.arrow-left:hover > img {
  width: 35px;
  padding: 7px;
}
main div.index-container > .index-container-section-welcome > h1.title {
  position: absolute;
  top: 95%;
  z-index: 500;
  color: rgb(231, 231, 231);
  font-size: 30px;
  width: 100%;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-family: "Rubik Dirt";
  font-weight: 100;
}
main div.index-container > .index-container-section-welcome > a.arrow-right {
  position: absolute;
  z-index: 500;
  right: 25px;
  top: 30vh;
}
main div.index-container > .index-container-section-welcome > a.arrow-right > img {
  background: #F7EECA;
  width: 35px;
  padding: 10px;
  border-radius: 20px;
}
main div.index-container > .index-container-section-welcome > a.arrow-right:hover > img {
  width: 35px;
  padding: 7px;
}
main div.index-container > .index-container-section-box-menu {
  max-width: 660px;
  box-shadow: rgba(50, 50, 93, 0.29) 0px 30px 60px -12px, rgba(0, 0, 0, 0.58) 0px 18px 36px -18px;
  border-radius: 5px;
  width: 660px;
  height: 415px;
  position: absolute;
  z-index: 500;
  background: whitesmoke;
  left: 25%;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 20px;
  box-sizing: content-box;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-one {
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-one > img {
  width: 100%;
  height: 100%;
  /* Safari 6.0 - 9.0 */
  filter: blur(1.2px);
  transition: filter 0.4s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-one > span {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  bottom: -33px;
  color: #F7EECA;
  font-weight: bolder;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8509803922));
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-one:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-one:hover > img {
  /* Safari 6.0 - 9.0 */
  filter: unset;
  transition: filter 0.6s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-four {
  position: relative;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-four > img {
  width: 100%;
  height: 100%;
  /* Safari 6.0 - 9.0 */
  filter: blur(1.2px);
  transition: filter 0.4s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-four > span {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  bottom: -33px;
  color: #F7EECA;
  font-weight: bolder;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8509803922));
  padding: 20px 0;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-four:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-one > article.box-menu-four:hover > img {
  /* Safari 6.0 - 9.0 */
  filter: unset;
  transition: filter 0.6s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-two {
  width: 230px;
  height: 415px;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-two > article.box-menu-two {
  width: 100%;
  height: 100%;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-two > article.box-menu-two > img {
  width: 100%;
  height: 100%;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-three {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-three > img {
  width: 100%;
  height: 100%;
  /* Safari 6.0 - 9.0 */
  filter: blur(1.2px);
  transition: filter 0.4s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-three > span {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  bottom: -33px;
  color: #F7EECA;
  font-weight: bolder;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8509803922));
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-three:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-three:hover > img {
  /* Safari 6.0 - 9.0 */
  filter: unset;
  transition: filter 0.6s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-five {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-five > img {
  width: 100%;
  height: 100%;
  /* Safari 6.0 - 9.0 */
  filter: blur(1.2px);
  transition: filter 0.4s ease;
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-five > span {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  bottom: -33px;
  color: #F7EECA;
  font-weight: bolder;
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8509803922));
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-five:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
}
main div.index-container > .index-container-section-box-menu > article.box-menu-part-three > article.box-menu-five:hover > img {
  /* Safari 6.0 - 9.0 */
  filter: unset;
  transition: filter 0.6s ease;
}
main div.index-container > .index-container-section-extras {
  background: #FCF3CF;
  width: 100%;
  height: 700px;
  position: relative;
  top: 307px;
}
main div.index-container > .index-container-section-extras > article.section-extras-article-extras {
  position: absolute;
  bottom: 25px;
  width: 93%;
  max-width: 1501px;
  margin: auto;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
main div.index-container > .index-container-section-extras > article.section-extras-article-extras > h2 {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
main div.index-container > .index-container-section-extras > article.section-extras-article-extras > section.article-extras {
  display: flex;
  justify-content: space-around;
}
main div.index-container > .index-container-section-extras > article.section-extras-article-extras > section.article-extras > article {
  text-align: center;
}
main div.index-container > .index-container-section-extras > article.section-extras-article-extras > section.article-extras > article > img {
  width: 80px;
  height: 80px;
}
main div.index-container > .new-year-promotions {
  background: #a6bb51;
  background: url(images/new-year-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 306px;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-title {
  padding: 50px 0 0 0;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-title > article.article-title {
  text-align: center;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-title > article.article-title > h3 {
  padding: 0 7px;
  color: rgba(81, 73, 46, 0.87);
  box-shadow: 1px 0px 20px 5px rgba(225, 187, 49, 0.6392156863);
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 242, 192) 8%, rgb(255, 234, 159) 16%, rgb(249, 234, 173) 46%, rgb(255, 229, 123) 78%);
  font-size: 40px;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-items > article.promotions-items-item {
  position: relative;
  margin: 20px 20px;
  width: 246px;
  height: 400px;
  background: url(images/menu-background-img.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-items > article.promotions-items-item > article.price {
  top: 70px;
  position: absolute;
  color: burlywood;
  font-weight: bold;
  left: 3px;
  border-bottom: 2px solid burlywood;
  padding-bottom: 2px;
}
main div.index-container > .new-year-promotions > section.new-year-promotions-items > article.promotions-items-item > section.items {
  color: white;
  position: relative;
  top: 100px;
  overflow: auto;
  max-height: 305px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: flex-start;
}

footer > div.footer-container {
  background: #f3ede4;
  height: 130px;
  position: relative;
  bottom: -306px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer > div.footer-container > .particles-js-canvas-el {
  height: 100%;
  position: absolute;
  z-index: 1;
}
footer > div.footer-container > article.items-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  z-index: 10;
}
footer > div.footer-container > article.items-icon > article.kk-img > a > img {
  width: 50px;
  height: 49px;
  vertical-align: baseline;
}
footer > div.footer-container > article.items-icon > article.aiolds-img > a > img {
  width: 220px;
  height: 68px;
  filter: brightness(9999) invert(0.5) sepia(1) hue-rotate(192deg);
}
footer > div.footer-container > article.main-text {
  z-index: 10;
  padding: 20px 0 0 0;
  text-align: center;
}
footer > div.footer-container > article.main-text > p {
  margin: 0;
}
footer > div.footer-container > article.main-text > p > b > a {
  color: blueviolet;
}

.modal {
  z-index: 9999;
}
.modal .modal-content {
  background: #fef5e7;
}

.show-about > div.modal-dialog > div.modal-content > div.modal-body > article.body-img {
  width: 100%;
  box-sizing: content-box;
}
.show-about > div.modal-dialog > div.modal-content > div.modal-body > article.body-img > img {
  width: 100%;
}
.show-about .modal-footer {
  justify-content: center;
}

.show-contacts .modal-footer {
  justify-content: center;
}
.show-contacts form#contactForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}
.show-contacts form#contactForm input {
  width: 70%;
}
.show-contacts form#contactForm button.submit {
  margin-top: 5px;
  background: #90a149;
  border: none;
}
.show-contacts form#contactForm button.submit:hover,
.show-contacts form#contactForm button.submit:active {
  background: #a6bb51;
}
.show-contacts form#contactForm button.submit:focus {
  box-shadow: 0px -1px 0 0.2rem rgba(207, 229, 87, 0.55);
}

.show-gallery div.row {
  justify-content: space-evenly;
}
.show-gallery div.row > div.gallery-item {
  padding: 3px 3px;
  width: 15vw;
}
.show-gallery div.row > div.gallery-item > a > img {
  width: 100%;
}

.btn-submit > input {
  padding: 5px 10px;
}/*# sourceMappingURL=index.css.map */